<!DOCTYPE html>
<html ng-app="quickrant" lang="en">
<head>
  <!-- meta standard -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Express yourself without yourself. Say anything to everyone. No login required.">

  <!-- meta og -->
  <meta property="og:type" name="og:type" content="website"/>
  <meta property="og:image" name="og:image" content="http://quickrant.com/img/thumbnail.gif"/>
  <meta property="og:url" name="og:url" content="http://quickrant.com/"/>
  <meta property="og:title" name="og:title" content="quickrant | express yourself without yourself"/>
  <meta property="og:description" name="og:description" content="Express yourself without yourself. Say anything to everyone. No login required."/>

  <title>quickrant | express yourself without yourself</title>

  <!-- scripts -->
  <script src="/js/third-party/google/google-analytics.js"></script>

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">

  <!-- styles -->
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome/font-awesome.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/toggle.css" rel="stylesheet">

  <link rel="image_src" type="image/gif" href="http://quickrant.com/img/thumbnail.gif"/>

  <!-- favicon -->
  <link rel="shortcut icon" href="/ico/favicon.png">

  <!-- touch icons -->
  <link href="/ico/apple-touch-icon.png" rel="apple-touch-icon" type="image/png">
  <link href="/ico/Icon-76.png" rel="apple-touch-icon" sizes="76x76">
  <link href="/ico/Icon-76@2x.png" rel="apple-touch-icon" sizes="152x152">
  <link href="/ico/Icon-40@2x.png" rel="apple-touch-icon" sizes="80x80">
  <link href="/ico/Icon-60@2x.png" rel="apple-touch-icon" sizes="120x120">
  <link href="/ico/Icon-60@3x.png" rel="apple-touch-icon" sizes="180x180">

</head>
<body ng-controller="MainController">

<!-- Navbar (START) -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">quickrant</a>
    </div>
  </div>
</nav>
<!-- Navbar (END) -->

<div class="container">
  <div class="row single-rant">
    <div class="col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-9 rants-container">
      <div class="panel panel-rant">
        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-1 col-sm-1 col-xs-2">
              <img src="/img/angry-small.gif">
            </div>
            <div class="col-lg-10 col-sm-10 col-xs-s8">
              <h1 class="panel-title">You know what sucks?</h1>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <blockquote>
            <p class="margin-bottom-md">When the server spits out a <span class="light-bold">500</span> error.</p>
            <small><span class="mild-bold">Anonymous</span> // Earth // less than a minute ago</small>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
