<div ng-controller="AboutController">
  <div class="modal-header">
    <h3 class="modal-title">About</h3>
  </div>
  <div class="modal-body">
    Quickrant was inspired by Chris Poole's notion of <a href="https://www.youtube.com/watch?v=e3Zs74IH0mc">"prismatic identity,"</a> which states a person is composed of numerous identities or personalities. We are not static beings, but rather a beautiful array of conflicting ideas and emotions:
    <br><br>
    <ul>
      <li>Who you are on Facebook or Twitter is not who you are in life.</li>
      <li>Who you are in the office is not who you are to your friends and family.</li>
      <li>Who you are to your friends and family is not who you are when you are alone.</li>
    </ul>
    One should be able to express oneself without fear of having that expression harm the world's perception of them. This is why I created quickrant: to give people the freedom to express themselves without themselves. To say anything to everyone. <strong>And with no login required, ever.</strong>
    <br><br>
    To put it simply, what you say on quickrant can never be associated back to your person; you are free to say anything you'd like without fear of reprisal or consequences.<br><br>
    <div class="alert alert-info" role="alert"><strong>Note: </strong>The only information I gather from you is used to protect myself from you, and potential cyber-attacks you may mount. No information will ever be provided to a third-party, or governmental agency.</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Got it</button>
  </div>
</div>