<div ng-controller="DialogController">
  <div class="modal-header">
    <h3 class="modal-title">About</h3>
  </div>
  <div class="modal-body">
    Quickrant was inspired by Chris Poole's notion of <a href="https://www.youtube.com/watch?v=e3Zs74IH0mc">prismatic
    identity</a>, which states that a peron is composed of not one, but many identities through which they're perceived
    by the people around them -and that social media should be built to reflect this.
    <br><br>On Facebook and other social media sites, it's considered a faux pas to express yourself in
    an overly emotional or impassioned way, be it regarding a political, religious, or social view - or even over
    something very deeply personal. As a result, Facebook can never be a perfect representation of your true self, even
    as much as it purports itself to be.
    <br><br>
    <ul>
      <li>Who you are on Facebook is not who you are in life.</li>
      <li>Who you are to your work or school is not who you are to your friends and family.</li>
      <li>Who you are to your friends and family is not who you are when you are alone.</li>
    </ul>
    You should be able to express yourself without fear of having that expression harm a perception of you. This is why
    I created quickrant: to give you the freedom to express yourself without being tied down to an identity, to say
    anything to everyone, and with <strong>no login required</strong>, <strong>ever</strong>.
    <br><br>
    To put it simply, what you say on quickrant can never be associated back to your person; you are free to say
    anything you'd like without fear of reprisal or consequence. <em>Words are powerful tools, use them wisely.</em>
    <br><br>

    <div class="alert alert-info" role="alert"><strong>Note: </strong>The only information I gather from you is used to
      protect my servers from you, and potential cyber-attacks you may mount. No information will ever be provided to a
      third-party, or governmental agency.
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <em>Express yourself without yourself. Say anything to everyone. No login required.</em>
    </div>
    <button class="btn btn-primary" ng-click="close()">Got it</button>
  </div>
</div>