<div>
  <div class="modal-header">
    <h3 class="modal-title">About</h3>
  </div>
  <div class="modal-body">
    Quickrant was inspired by Chris Poole's notion of <a href="https://www.youtube.com/watch?v=e3Zs74IH0mc">prismatic
    identity</a>. If you check out the video, you'll note that he states people are fundamentally composed of
    multiple identities - that we're a different person to different people, and that social media should be built to reflect this.
    <br><br>The state of social media today is an interesting one, Facebook or otherwise; at times it can be considered a faux pas
    to express yourself in an impassioned or opinionated way, be it regarding a political, religious, or social thought - or even over
    something very deeply personal. As a result, Facebook can never be a perfect representation of your true self, nor any site tied to
    your identity, even as much as they purport themselves to be.
    <br><br>
    <ul class="margin-bottom-lg">
      <li>Who you are on social media is not who you are in life.</li>
      <li>Who you are to your work or school is not who you are to your friends and family.</li>
      <li>Who you are to your friends and family is not who you are when you are alone.</li>
    </ul>
    You should be able to express yourself without fear of having that expression harm a perception of you. Therein lies the purpose
    of quickrant: to give you the freedom to express yourself without being tied down to an identity, to say
    anything to everyone, and with <span class="mild-bold">no login required, ever.</span>
    <br><br>

    <div class="alert alert-info" role="alert"><strong>Note: </strong>The only information I gather from you is used to
      protect my servers from you, and potential cyber-attacks you may mount. No information will ever be provided to a
      third-party, or governmental agency.
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <em>Express yourself without yourself. Say anything to everyone. No login required.</em>
    </div>
    <button class="btn btn-default fa fa-close fa-2x" ng-click="$close()"></button>
  </div>
</div>