<div>
  <div class="modal-header">
    <h3 class="modal-title">Thanks for speaking your mind</h3>
  </div>
  <div class="modal-body">
    If you'd ever like to check back on your rant, you can find it with this id: <strong>{{data.id}}</strong>. Search
    bar is in the upper-right corner.
    <br><br>
    <div class="alert alert-info" role="alert"><strong>Note: </strong> This will become more important pending a future
      update; your rant can become a conversation if you choose to allow replies.</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">Got it</button>
  </div>
</div>