<div>
  <div class="modal-header">
    <div class="flex-container">
      <h4 class="modal-title flex-item">Share</h4>
    </div>

  </div>
  <div class="modal-body">
    <div class="text-center">
      <a ng-href="{{data.facebook}}" class="btn btn-default btn-lg btn-share fa fa-facebook fa-3x" target="_blank"></a>
      <a ng-href="{{data.twitter}}" class="btn btn-default btn-lg btn-share fa fa-twitter fa-3x" target="_blank"></a>
      <a ng-href="{{data.reddit}}" class="btn btn-default btn-lg btn-share fa fa fa-reddit fa-3x" target="_blank"></a>
      <a ng-href="{{data.google}}" class="btn btn-default btn-lg btn-share fa fa fa-google-plus fa-3x" target="_blank"></a>
      <a ng-href="{{data.stumbleupon}}" class="btn btn-default btn-lg btn-share fa fa fa-stumbleupon fa-3x" target="_blank"></a>
    </div>
  </div>
</div>