/* GLOBAL STYLES
-------------------------------------------------- */

/*** NEW ANGULAR ****/
.question {
  margin: 4px;
}

.form-container .form-control {
  margin: 5px;
  width: 100%;
}

/****************/

body {
  font-family: Open Sans, Arial, sans serif;
  font-size: 12px;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

hr {
  padding: 0px;
  margin: 20px 0px;
  border: none;
  border-top: 1px solid #999999;
  color: #999999;
  text-align: center;
}

hr:after {
  content: "//";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

blockquote {
  padding: 10px 20px 10px;
  margin-left: 15px;
  border-left: 5px solid #777777;
}

textarea { 
  resize: vertical;
  min-height: 50px;
}

.btn {
  border-radius:0;
}

.panel {
  border-radius:0;
}

.black {
  color: #000000;
}

.mild-bold {
  font-weight: 600;
}

.margin-bottom-lg {
  margin-bottom: 25px;
}

/* Override simplyCountable.js */
.over {
  color: #a94442;
}

.fa-1-5x {
  font-size: 1.5em;
}

/* MODAL
--------------------------------*/

.modal-body {
  font-size: 14px;
}

.modal-footer {
  font-size: 14px;
}


/* QUESTIONS CONTENT
-------------------------------------------------- */

.questions-container {
  display: none;
}

.question-button {
  margin: 4px;
}

/* RANT CONTENT
-------------------------------------------------- */

.panel-rant {
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0px;
}

.rants-container .panel-title {
  margin-left: -5px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 300;
}

.rants-container .panel-body {
  overflow: hidden;
  padding: 5px 15px 0px;
}

.single-rant .panel-title {
  font-size: 24px;
}

.single-rant .panel-body blockquote {
  font-size: 24px;
}

.center-absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0
}

.ribbon {
  width: 160px;
  position: absolute;
  text-align: center;
  font-size: 12px!important;
  background: #d64b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
  background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
  background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
  -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  font-family: 'Open Sans',Helvetica, sans-serif;
}
.ribbon h1 {
  font-size: 20px!important;
  color: #801111;
  text-shadow: #d65c5c 0 1px 0;
  margin:0px;
  padding: 15px 10px;
}
.ribbon:before, .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #c23a3a;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  border-color: #871616 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon-stitches-top {
  margin-top:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
  margin-bottom:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

