/* GLOBAL STYLES
-------------------------------------------------- */

.modal .modal-body {
    max-height: 700px;
    overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.btn-qr {
 color: #777777;
}

/*** NEW ANGULAR ****/
.question {
  margin: 4px;
}

.form-container .form-control {
  margin: 5px;
  width: 100%;
}

.preview .panel-default > .panel-heading {
  background-color: #fafafa;
}

/****************/

body {
  font-family: Open Sans, Arial, sans serif;
  font-size: 12px;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

code {
  background-color: #f1f1f1;
  color: #777777;
}

hr {
  padding: 0px;
  margin: 20px 0px;
  border: none;
  border-top: 1px solid #999999;
  color: #999999;
  text-align: center;
}

hr:after {
  content: "//";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

blockquote {
  padding: 10px 20px 10px;
  margin-left: 15px;
  border-left: 5px solid #777777;
}

textarea { 
  resize: vertical;
  min-height: 50px;
}

.form-control, .alert, .btn, .panel {
  border-radius:0;
}

.black {
  color: #000000;
}

.mild-bold {
  font-weight: 600;
}

.margin-top-xs {
  margin-top: 5px;
}

.margin-bottom-xs {
  margin-bottom: 5px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.margin-bottom-lg {
  margin-bottom: 25px;
}

/* Override simplyCountable.js */
.over {
  color: #a94442;
}

.fa-1-5x {
  font-size: 1.5em;
}

.fa-toggle-off {
  color: red;
}

.fa-toggle-off {
  color: green;
}

.btn-share {
  margin: 10px 10px;
}

/* MODAL
--------------------------------*/

.modal-body {
  font-size: 14px;
}

.modal-footer {
  font-size: 14px;
}


/* QUESTIONS CONTENT
-------------------------------------------------- */

.questions-container {
  display: none;
}

.question-button {
  margin: 4px;
}

/* RANT CONTENT
-------------------------------------------------- */

.panel-rant {
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0px;
}

.rants-container .panel-title {
  margin-left: -5px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 300;
}

.rants-container .panel-body {
  overflow: hidden;
  padding: 5px 15px 0px;
}

.single-rant .panel-title {
  font-size: 24px;
}

.single-rant .panel-body blockquote {
  font-size: 24px;
}

.center-absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0
}

.ribbon {
  width: 85px;
  position: absolute;
  text-align: center;
  font-size: 10px!important;
  background: #d64b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
  background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
  background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
  -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  font-family: 'Open Sans',Helvetica, sans-serif;
}
.ribbon h1 {
  font-size: 14px!important;
  color: #801111;
  text-shadow: #d65c5c 0 1px 0;
  margin:0px;
  padding: 10px 0px;
}
.ribbon:before, .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #c23a3a;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  border-color: #871616 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon-stitches-top {
  margin-top:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
  margin-bottom:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

/* FLEX */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
  .flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
  }

}

.flex-center-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-center-item:nth-child(1) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-center-item:nth-child(2) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-center-item:nth-child(3) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}