a {
    color: #555555;
}

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.rants {
    background-color: #f6f6f6;
}

.rant-form-section {
    margin: 1rem;
}

.facial-emotion img:hover {
    opacity: .5;
}

.question {
    margin: .50rem;
}

.view.ng-enter {
    -webkit-animation: fade-in 0.5s linear;
    -moz-animation: fade-in 0.5s linear;
    -o-animation: fade-in 0.5s linear;
    animation: fade-in 0.5s linear;
}

.view.ng-enter.ng-enter-active {
    opacity: 1;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Larger than mobile */
@media (min-width: 400px) {
    .container {
        width: 100%;
    }
    .decline-rant-sm {
        margin-top: 1rem;
    }
    .back-to-intro {
        margin-top: 2em;
    }
    .mobile-toggle-lg {
        display: none;
        visibility: hidden;
    }
    .mobile-toggle-sm {
        display: block;
        visibility: visible;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
    .introduction {
        padding-bottom: 10rem;
        height: 165px;
    }
    .intro-heading {
        font-size: 2.4rem;
        padding-top: 3.5rem;
    }
    .facial-emotion {
        padding: 0rem .5rem;
    }
    h4 {
        margin-bottom: 2rem;
    }
    .decline-rant-lg {
        margin-bottom: 2rem;
    }
    .mobile-toggle-lg {
        display: block;
        visibility: visible;
    }
    .mobile-toggle-sm {
        display: none;
        visibility: hidden;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .section {
        padding: 14rem 0 15rem;
    }
    .intro-heading {
        font-size: 2.6rem;
    }
    .rant-form-section {
        padding: 20rem 7rem;
    }
    .facial-emotion {
        padding: 0rem 1rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .container {
        width: 85%;
    }
    .section {
        padding: 20rem 0rem;
    }
    .rant-form-section {
        padding: 20rem 10rem;
    }
    .intro-heading {
        font-size: 3.0rem;
    }
    .facial-emotion {
        padding: 0rem 1.5rem;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .rant-form-section {
        padding: 20rem 16rem;
    }
}

/* Larger than Desktop HD MD */
@media (min-width: 1400px) {
    .rant-form-section {
        padding: 20rem 26rem;
    }
}


/* Larger than Desktop HD XL */
@media (min-width: 1600px) {
    .rant-form-section {
        padding: 20rem 30rem;
    }
}

/* Larger than Desktop HD XL */
@media (min-width: 1800px) {
    .rant-form-section {
        padding: 20rem 45rem;
    }
}




/** Rant stream **/
blockquote {
    width: 65%;
    margin: 8rem auto;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 5rem;
    text-align: left;
    padding-left: 4rem;
    border-left: 2px solid #c0c0c0;
}

blockquote span.rant-question {
    display: block;
    font-size: 1.8rem;
    line-height: 2rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

blockquote span.rant-name {
    display: block;
    text-align: right;
    font-size: 2rem;
    line-height: 4rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

blockquote span.rant-details {
    display: block;
    text-align: right;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 300;
    margin-top: 1rem;
    text-transform: uppercase;
}

blockquote span.rant-details-sm {
    font-size: 1.5rem;
}

blockquote span.rant-details-xs {
    display: block;
    margin-top: -2rem;
    font-size: 1.2rem;
}