/** PAGE INFO TABLE **/

.page-info .media {
  margin-top: 0px;
}

.page-info .media h2 {
  margin-bottom: 0px;
  color: #555;
}

.page-info .media .media-body {
  font-size: 20px;
}

.active-bar-angry {
  fill: #d5625e;
}

.bar-angry {
  fill: #CB3B37;
}

.active-bar-happy {
  fill: #63afd5;
}

.bar-happy {
  fill: #3D9BCB;
}

.active-bar-sad {
  fill: #767676;
}

.bar-sad {
  fill: #555555;
}

.axis path {
  fill: #555;
  fill-opacity: .5;
  margin-bottom: 30px;
}

.axis text {
  font-family: "Always Together";
  font-size: 20px;
  fill: #555;
}

.stat-emotion-legend {
  font-family: "Always Together";
  font-size: 20px;
  fill: #555;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

/** BUTTONS **/
.btn-question {
  margin: 3px;
  padding-bottom: 2px;
  font-family: 'Always Together';
  font-size: 22px;
}

.btn-comment {
  font-size: 14px;
}

.btn-big-label {
    text-align: center;
    font-size: 22px;
    padding: 10px;
}

.btn-big {
    margin: 10px;
    border: 1px solid #c0c0c0;
}

/** ANGRY **/
.btn-angry {
  background-color: #CB3B37;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-angry:hover {
  color: #ffffff;
  background-color: #F4534E;
  border-color: #ffffff;
}

.btn-angry:focus {
  color: #ffffff;
}

/** HAPPY **/
.btn-happy {
  background-color: #3D9BCB;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-happy:hover {
  color: #ffffff;
  background-color: #4FB8ED;
  border-color: #ffffff;
}

.btn-happy:focus {
  color: #ffffff;
}

.panel-happy {
  border-color: #9EBDD5;
}

.panel-happy > .panel-heading {
  background-color: #D3E6F7;
  border-color: #9EBDD5;
  color: #1973BB;
}

/** SAD **/
.btn-sad {
  background-color: #555555;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-sad:hover {
  background-color: #777777;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-sad:focus {
  color: #ffffff;
}

.panel-sad {
  border-color: #C0C0C0;
}

.panel-sad > .panel-heading {
  background-color: #ededed;
  border-color: #C0C0C0;
  color: #555555;
}

/** NAV **/
.navbar-brand {
  font-family: 'Always Together';
  font-size: 28px;
}

/** RANT FORM **/
.form-container .form-control {
  margin: 5px;
  width: 100%;  /* Fit textarea */
}

.form-control, .alert, .btn, .panel {
  border-radius:0;
}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/** SIDEBAR **/
.sidebar {
  font-family: 'Always Together';
  font-size: 16px;
  color: #777777;
}

.sidebar .sidebar-label {
  font-size: 22px;
}

.list-group-item.active {
  color: #555555;
  border-color: #C0C0C0;
  background-color: #ededed;
}

.list-group-item:hover, .list-group-item.active:hover, .list-group-item.active:focus {
  color: #DDDDDD;
  border-color: #C0C0C0;
  background-color: #696969;
}

/** SHARE **/
.btn-share {
  margin: 10px 10px;
}

/** MODALS **/
.modal-body {
  max-height: 700px;
  overflow-y: auto;
  font-size: 14px;
}

.modal-footer {
  font-size: 14px;
}

/** RANT CONTAINER **/

.panel-rant {
  border: 0px;        /* Remove bootstrap */
  border-radius: 0;   /* Remove bootstrap */
  box-shadow: none;   /* Remove bootstrap */
  margin-bottom: 0px; /* Remove bootstrap */
}

.rants-container .panel-title {
  margin-left: -7px;
  padding-top: 7px;
  font-size: 16px;
  color: #777777;
  font-weight: 300;
}

.rants-container .panel-body {
  overflow: hidden;
  padding: 5px 15px 0px;
}

.rants-container .panel-body blockquote {
  font-size: 18px;
  color: #777777;
}

.rants-container .panel-body blockquote small {
  font-family: 'Open Sans';
  font-size: 14px;
}

.single-rant .panel-title {
  font-size: 20px;
}

.single-rant .panel-body blockquote {
  font-size: 26px;
}

.single-rant .panel-body blockquote small {
  font-size: 16px;
  margin-top: 20px;
}

.center-absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0
}

/* FLEX */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
  .flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
  }

}

.flex-center-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-center-item:nth-child(1) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-center-item:nth-child(2) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-center-item:nth-child(3) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-sidebar-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-skinny-left-item:nth-child(1) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-wide-right-item:nth-child(2) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flash{

  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash {
  0% { background-color:none;}
  35% { background-color:#e0e0e0;}
  100% {background-color:none;}
}

@-moz-keyframes flash {
  0% { background-color:none;}
  35% { background-color:#e0e0e0;}
  100% {background-color:none;}
}

@-ms-keyframes flash {
  0% { background-color:none;}
  35% { background-color:#e0e0e0;}
  100% {background-color:none;}
}