<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">quickrant</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navigation">
      <ul class="nav navbar-nav">
        <li><a href ng-click="showAbout()"><code>ABOUT</code></a></li>
        <li><a href ng-click="showBeta()"><code>BETA</code></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="rant" ng-model="search.id" placeholder="Find rant by id" class="form-control">
            </div>
            <button ng-click="findRantById(search.id)" class="btn btn-default btn-lg fa fa-search"></button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>