<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 form-container">
    <div class="panel panel-{{getPanelStyleForSelection(selection)}} margin-bottom-lg">
      <div class="panel-heading">
        <h3 class="panel-title text-center" id="legend">{{selection.question}}</h3>
      </div>
      <div class="panel-body">
        <form name="form" class="form-inline" role="form">

          <!-- Name and Location -->
          <div class="row">
            <div class="col-lg-offset-1 col-lg-5 col-sm-offset-1 col-sm-5">
              <input default-value="quickrant.defaults.name" ng-model="rant.name" class="form-control" type="text"placeholder="Name (optional)">
            </div>
            <div class="col-lg-5 col-sm-5">
              <input default-value="quickrant.defaults.location" ng-model="rant.location" class="form-control" type="text" placeholder="Location (optional)">
            </div>
          </div>

          <!-- Rant -->
          <div class="row">
            <div ng-class="{'has-error': error.maxlength}" class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
              <textarea focus ng-model="rant.text" name="text" ng-minlength="3" ng-maxlength="500" ng-required="true" class="form-control" rows="5" placeholder="Say something..."></textarea>
            </div>
          </div>

          <!-- Validation messages -->
          <span class="help-block text-center">
            <span class="text-danger" ng-show="error.maxlength">Too much</span>
            <span class="text-danger" ng-show="error.minlength">Too few</span>
            <span ng-show="form.$valid">
              <ng-pluralize count="getCharactersLeft(rant)" when="{'0': 'No more characters', 'one': '1 character left', 'other': '{} characters left'}"></ng-pluralize>
            </span>
          </span>


          <div class="flex-center-container">

            <!-- Allow comments -->
            <div class="btn-group btn-big text-center">
              <label class="fa fa-1-5x pointer" ng-click="rant.allowComments = !rant.allowComments" ng-model="rant.allowComments">
              <span class="fa-stack fa-lg">
                <i class="fa" ng-class="{'fa-comments-o fa-stack-1x': !rant.allowComments, 'fa-stack-2x': rant.allowComments}"></i>
                <i class="fa" ng-class="{'fa-ban fa-stack-2x text-danger': !rant.allowComments, 'fa-comments-o fa-stack-1x': rant.allowComments}"></i>
              </span>
              <br>
              <span class="btn-big-label always">
                <span ng-show="rant.allowComments">comments</span>
                <span ng-show="!rant.allowComments">no comments</span>
              </span>
              </label>
            </div>

            <!-- Submit -->
            <div class="btn-group btn-big text-center">
              <label class="fa fa-1-5x pointer" ng-class="{disabled: !form.$valid }" ng-click="postRant(rant)">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-send fa-stack-1x"></i>
                  <i class="fa fa-stack-2x"></i>
                </span>
                <br>
                <span class="btn-big-label always">
                  <span>post rant</span>
                </span>
              </label>
            </div>

          </div>

        </form>
      </div>
    </div>

  </div>
</div>

