<div class="col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11">
  <div class="panel panel-text">
    <div class="panel-heading">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-xs-2">
          <img ng-src="/img/{{::rant.emotion | lowercase}}-sm.png">
        </div>
        <div ng-if="!rant.allowComments">
          <div class="col-lg-10 col-sm-10 col-xs-10">
            <h2 class="panel-title">{{::rant.question}}</h2>
          </div>
        </div>
        <div ng-if="rant.allowComments">
          <div class="col-lg-9 col-sm-9 col-xs-7">
            <h2 class="panel-title">{{::rant.question}}</h2>
          </div>
          <div class="col-lg-2 col-sm-2 col-xs-1 text-right">
            <button ng-click="replyTo(rant)" class="btn btn-default btn-text">
              <i class="fa fa-comments-o fa-1-5x"></i> | {{rant.commentCount}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <blockquote ng-class="{flash: flash}">
        <p class="margin-bottom-md">{{::rant.text}}</p>
        <small>
          <span class="mild-bold">{{::rant.name}}</span> // {{::rant.location}} // {{rant.createdDate | timeago}}
        </small>
      </blockquote>
    </div>
  </div>
  <hr>
</div>