<form name="form" class="form-inline" role="form" method="post" action="/rant">
  <input type="hidden" id="pageLoadTime" name="pageLoadTime" value="">
  <input type="hidden" id="emotion" name="emotion" value="">
  <input type="hidden" id="question" name="question" value="">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-5 col-sm-offset-1 col-sm-5">
      <input visitor ng-model="visitor" class="form-control" type="text" id="visitor_name" name="visitor" placeholder="Name (optional)">
    </div>
    <div class="col-lg-5 col-sm-5">
      <input location ng-model="location" class="form-control" type="text" id="location" name="location" placeholder="Location (optional)">
    </div>
  </div>
  <div class="row">
    <div ng-class="{'has-error': form.$error.maxlength}" class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
      <textarea rant-textarea ng-model="rant" name="rant" ng-minlength="{{minChars}}" ng-maxlength="{{maxChars}}" class="form-control" id="form-container-textarea" rows="5" placeholder="Say something..."></textarea>
    </div>
  </div>
  <span class="help-block">
    <span ng-class="{'text-danger': form.$error.maxlength}">{{charsLeft()}} characters left</span>
    <span ng-if="minLengthErr"><em>({{charsToGo()}} more to go)</em></span>
  </span>
  <button ng-class="{disabled: (form.$error.maxlength || minLengthErr)}" type="submit" id="submit" class="btn btn-default">Post</button>
</form>