<div class="container rants-container">
  <div ng-repeat="rant in rants" class="row">
    <div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-9">
      <div class="panel panel-rant">
        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-1 col-sm-1 col-xs-2">
              <img ng-src="/img/{{::rant.selection.emotion}}-small.gif">
            </div>
            <div class="col-lg-10 col-sm-10 col-xs-8">
              <h2 class="panel-title">{{::rant.selection.question}}</h2>
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-2 text-right">
              <button ng-if="rant.allowReplies" ng-click="openRant(rant)" class="btn btn-default btn-sm fa fa-reply"></button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <blockquote>
            <p>{{::rant.rant}}</p>
            <small>
              <span class="mild-bold">{{::rant.ranter.name}}</span> // {{::rant.ranter.location}} // {{rant.createdDate | timeago}}
              <span ng-show="rant.replyCount">
                | <a href class="replyLink"  ng-click="openRant(rant)"><ng-pluralize count="rant.replyCount" when="{'0': 'No replies', 'one': '1 reply', 'other': '{} replies'}"></ng-pluralize></a>
              </span>
            </small>
          </blockquote>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-offset-4 col-lg-1 col-sm-offset-2 col-sm-2 ">
      <button ng-show="canFetchMoreRants() && !loading" class="btn btn-default fa fa-chevron-down fa-4x pointer" ng-click="nextPage()"></button>
    </div>
    <div ng-show="!canFetchMoreRants() && !loading" class="help-block"><i class="fa fa-child fa-2x"></i><em>
      Congrats, you've reached the end of the Internet. </em><i class="fa fa-child fa-2x"></i></div>
    <div class="col-lg-1 col-sm-offset-2 col-sm-2 margin-bottom-lg">
      <button ng-show="canFetchMoreRants() && !loading" class="btn btn-default fa fa-chevron-up fa-4x pointer" scroll></button>
      <div ng-show="loading">
        <progressbar class="progress-striped active" value="100"></progressbar>
      </div>
    </div>

  </div>
</div>