<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

  <display-name>quickrant</display-name>
  
  <!-- Bootstrap class runs during servlet container creation -->
  <listener>
    <listener-class>com.quickrant.web.Bootstrap</listener-class>
  </listener>

  <!-- Don't waste cycles on certain requests -->
  <filter>
    <filter-name>ExclusionFilter</filter-name>
    <filter-class>com.quickrant.web.filters.ExclusionFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>\/img\/*,\/css\/*,\/js\/*,\/ico\/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ExclusionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Reject bad requests -->
  <filter>
    <filter-name>AegisFilter</filter-name>
    <filter-class>com.quickrant.web.filters.AegisFilter</filter-class>
    <init-param>
      <param-name>aegis</param-name>
      <param-value>com.quickrant.web.security.AegisService</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AegisFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Process incoming requests -->
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.quickrant.web.filters.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Send /session requests to SessionController -->
  <servlet>
    <servlet-name>SessionController</servlet-name>
    <servlet-class>com.quickrant.web.controller.SessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionController</servlet-name>
    <url-pattern>/session/*</url-pattern>
  </servlet-mapping>
  
  <!-- Error pages -->
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>    
    <error-code>403</error-code>
    <location>/403.jsp</location>
  </error-page>
  <error-page>    
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  
  <!-- Welcome list -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>